@use "../../variables/colors" as *;
@use "../../variables/font-sizes" as *;
@use "./commponents/logo" as *;
@use "./commponents/visitor-nav" as *;
@use "./commponents/member-nav" as *;
@use "./commponents/close-nav" as *;



@mixin header($logo:false,$visitor:false,$member:false,$close:false){
    .header{
        position: relative;
        z-index: 1;
        background-color: $metal-black;
        height: 100px;
    
        .container{
            height: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include logo($logo);
            @include visitor-nav($visitor);
            @include member-nav($member);
            @include close-nav($close);
        }
    }
}