$light-gray: #e4e5e7;
$white: #fff;
$metal-black: #353535;
$light-black: #9d9d9d;
$dark-black: #101010; 
$danger-red: #e74c3c;
$light-danger-red: rgb(231, 76, 60, 0.85);
$checkbox-checked-color: #0075ff;
$facebook-color:#1877f2;
$telegram-color:#0088cc;
$phone-color:#ff0000;
$email-color:#dd4b39;