@mixin flex-layout ($flex:false,$justify-content:false,$align-items:false){
    @if $flex == yes {
        display: flex;
    }@else{
        @error "cannot compile it";
    }

    @if $justify-content == yes {
        justify-content: space-between;
    }@else{
        @error "cannot compile it";
    }

    @if $align-items == yes {
        align-items: center;
    }@else{
        @error "cannot compile it";
    }
}