@use "../../SASS-TOOLS/MixIn/media-query.scss" as *;
@use "../../SASS-TOOLS/Variables/colors" as *;

.user-general-info.the-service{
    padding: 16px;
    background-color: $white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .collection{
        display: flex;
        background-color: $light-gray;
        padding: 8px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        .avatar{
            width: 180px;
            height: 180px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }
        .group{
            margin-right: 8px;
            width: 100%;
            .name,
            .the-role{
                text-align: center;
                width: 100%;
                background-color: $white;
                color: $metal-black;
                padding: 10px;
                border: none;
                font-weight: bold;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                -o-border-radius: 6px;
            }
            .name{
                margin-bottom: 8px;
            }
        }
    }
    .admin-flag{
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
        color: $white;
        background-color: $danger-red;
        padding: 10px;
        border: none;
        font-weight: bold;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}