/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');
/* End Google Fonts */


/* Variables */
:root{
    --dangerColor: #e74c3c;
    --blueColor: #0075ff;
    --secondDangerColor: rgb(231, 76, 60, 0.50);
    --successColor: #2ecc71;
    --secondSuccessColor: rgb(46, 204, 113, 0.2);
    --mainBlackColor: #353535;
    --secondBlackColor: rgba(34, 34, 34, 0.85);
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --mediumBlackColor: #363f4a;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}
/* End Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
*::-webkit-scrollbar{
    width: 20px;
}
*::-webkit-scrollbar-track{
    background-color: var(--whiteColor);
}
*::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: var(--mainBlackColor);
}
body{
    direction: rtl;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.special-title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.edit{
    font-weight: bold;
    color: var(--dangerColor);
    cursor: pointer;
    text-align: center;
}
.note{
    font-weight: bold;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    padding: 2px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: fit-content;
    margin-bottom: 15px;
}
.title{
    font-weight: bold;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    padding: 2px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    text-align: center;
    /* margin-bottom: 5px; */
}
.title-e{
    font-weight: bold;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    padding: 4px 8px;
    width: 100%;
}
.input{
    width: 100%;
    border: none;
    outline: none;
    padding: 2px 10px;
    color: var(--mainBlackColor);
    font-weight: bold;
    font-size: 16px;
}
.submit{
    font-weight: bold;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    width: 80%;
    padding: 5px 8px;
    font-size: 17px;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.submit:hover{
    background-color: var(--secondDangerColor);
}
.back{
    font-weight: bold;
    text-align: center;
    background-color: var(--whiteColor);
    color: var(--dangerColor);
    width: 20%;
    padding: 5px 8px;
    font-size: 17px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
.back:hover{
    background-color: var(--secondDangerColor);
    color: var(--whiteColor);
}
/* End Global Rules */

/* Header */
.header{
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1;
    background-color: var(--mainBlackColor);
}
.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo h3{
    font-size: 17px;
}
.header .container a{
  display: flex;
  align-items: center;
  color: var(--whiteColor);
}
@media (max-width:991px){
    .header{
        background-color: var(--mainBlackColor);
    }
    .header .container .logo h3{
        display: none;
    }
}
/* End Header */

/* Book Information Landing */
.bookinfo-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}
.bookinfo-landing .container{
    height: 100%;
}
.bookinfo-landing .container .bookinfo{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo{
    display: flex;
    width: 100%;
    height: 100%;
}
@media (max-width:991px){
    .bookinfo-landing .container .bookinfo .flex-bookinfo{
        flex-direction: column;
    }
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit{
    display: flex;
    width: 100%;
    height: 100%;
}
@media (max-width:991px){
    .bookinfo-landing .container .bookinfo .flex-bookinfo-edit{
        flex-direction: column;
    }
}
.bookinfo-landing .container .bookinfo.info{
    margin-bottom: 15px;
}
/* End Book Information  Landing */

/* Book Information  */
.bookinfo-landing .container .bookinfo .flex-bookinfo .general-info{
    background-color: var(--whiteColor);
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo .general-info div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: var(--thirdColor);
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo .general-info div:not(:last-child){
    margin-bottom: 10px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo .general-info span{
    font-weight: bold;
    font-size: 18px;
    color: var(--dangerColor);
    background-color: var(--whiteColor);
    width: 100%;
    text-align: center;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo .conclusion{
    padding: 15px;
    background-color: var(--thirdColor);
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: var(--mainBlackColor);
    font-weight: bold;
    font-size: 18px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo .conclusion textarea{
    resize: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* pointer-events: none; */
    padding: 20px;
    width: 100%;
    height: 95%;
    font-size: 18px;
}
/* End Book Information  */

/* Book Information Edit */
.bookinfo-landing .container .bookinfo.edit-book{
    display: none;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .general-info{
    background-color: var(--whiteColor);
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .general-info .flex .block-num{
    width: 100%;
    margin-top: 0;
    padding: 0;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .general-info .flex .shelf-num{
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .general-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .general-info div:not(:last-child){
    margin-bottom: 10px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .general-info input{
    font-weight: bold;
    font-size: 18px;
    color: var(--dangerColor);
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .conclusion{
    padding: 15px;
    background-color: var(--thirdColor);
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: var(--mainBlackColor);
    font-weight: bold;
    font-size: 18px;
}
.bookinfo-landing .container .bookinfo .flex-bookinfo-edit .conclusion textarea{
    resize: none;
    padding: 20px;
    width: 100%;
    height: 95%;
    font-size: 18px;
}
.bookinfo-landing .container .setting.bookinfo{
    background-color: var(--thirdColor);
    margin-top: 15px;
}
.bookinfo-landing .container .setting.bookinfo{
    background-color: var(--thirdColor);
    margin-top: 15px;
    display: flex;
    align-items: center;
}
/* End Information Edit */
/* Start Footer */
.footer {
  margin-top: 15px;
  background-color: #191919;
  padding: 70px 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  gap: 15px;
}
.footer .logo{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
  .footer .logo h3{
      font-size: 17px;
      color: var(--whiteColor);
  }
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
