/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

/* Variables */
:root{
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --mainBlackColor: #353535;
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
    --blueColor: #0075ff;
    --facebookColor: #1877f2;
    --twitterColor: #1da1f2;
    --youtubeColor: #ff0000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--mainBlackColor);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    direction: rtl;
}

/* Container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
small{
    margin-top: 10px;
    font-weight: 700;
    color: var(--dangerColor);
}
.count{
    font-weight: 700;
    color: var(--dangerColor);
}
.submit{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--secondDangerColor);
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
.input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
}
.input::placeholder{
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: bold;
}
.note{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.input-field{
    background-color: var(--thirdColor);
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Header */
.header{
    position: relative;
    height: 100px;
    background-color: var(--mainBlackColor);
    z-index: 1;
}

.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo{
    display: flex;
    align-items: center;
}
.header .container .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}
/* Start User Login Drop List */
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.header .container .profile-pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu a{
    display: flex;
    align-items: center;
    color: var(--whiteColor);
}
.header .container .menu .logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px 10px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--darkBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header .container .logo h3{
        display: none;
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}

/* Browse Books Landing */
.browse-books-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Browse Books */
.browse-books-landing .container .browseBooks{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* Search Books */
.browseBooks.search-books{
    margin-bottom: 15px;
}
.browseBooks.search-books .search-container{
    position: relative;
    background-color: var(--thirdColor);
    padding: 6px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}
.browseBooks.search-books .search-container .book{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}
.browseBooks.search-books .search-container .subject{
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--dangerColor);
    font-size: 16px;
    font-weight: bold;
    color: var(--whiteColor);
    border-right: 6px solid var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Show Books */
.browseBooks.books{
    padding: 0;
    margin-top: 15px;
    background-color: var(--whiteColor);
    display: none;
}
.the-books{
    border: 6px solid var(--thirdColor);
    width: 100%;
    border-spacing: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.the-books tr{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.the-books tr:not(:first-child):hover{
    background-color: var(--thirdColor);
    cursor: pointer;
}
.the-books th{
    background-color: var(--dangerColor);
    padding: 8px;
    color: var(--whiteColor);
}
.the-books td{
    border-bottom: none;
    border-top: 6px solid var(--thirdColor);
    background-color: transparent;
    padding: 8px;
    text-align: center;
    color: var(--mainBlackColor);
    font-weight: bold;
}
.the-books th:not(:last-child){
    border-left: 6px solid var(--thirdColor);
}
.the-books td:not(:last-child){
    border-left: 6px solid var(--thirdColor);
}
@media (max-width:991px){
    .browseBooks.books{
        overflow-x: scroll;
    }
    .the-books th{
        font-size: 15px;
    }
    .the-books td{
        font-size: 15px;
    }
}
/* Grid Layout */
.browse-books-landing .container .grid-layout{ 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 15px;
}
@media (max-width:767px){
    .browse-books-landing .container .grid-layout{
        grid-template-columns: minmax(200px,1fr);
    }
}

/* Latest Books */
.browseBooks.latest-books .latest-book div:not(.title){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.browseBooks.latest-books .latest-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.latest-books .latest-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}

/* Latest Book Information */
.browseBooks.latest-books .latest-book-info{
    margin-top: 15px;
    display: none;
}
.browseBooks.latest-books .latest-book-info div:not(.title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.latest-books .latest-book-info div p:not(.back){
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browseBooks.latest-books .latest-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* My Books */
.browseBooks.my-books .my-book div:not(.title){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.browseBooks.my-books .my-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.my-books .my-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}

/* My Book Information */
.browseBooks.my-books .my-book-info{
    margin-top: 15px;
    display: none;
}
.browseBooks.my-books .my-book-info div:not(.title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.my-books .my-book-info div p:not(.back){
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browseBooks.my-books .my-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Books In BLock */
.browseBooks.block-books .block-book .scroll{
    height: 190px;
    overflow-y: scroll;
    background-color: var(--whiteColor);
    display: none;
}
.browseBooks.block-books .block-book .scroll div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.browseBooks.block-books .block-book div:not(.title,.scroll,.note){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.block-books .block-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.block-books .block-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}

/*  Books In BLock Information */
.browseBooks.block-books .block-book-info{
    margin-top: 15px;
    display: none;
}
.browseBooks.block-books .block-book-info div:not(.title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.block-books .block-book-info div p:not(.back){
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browseBooks.block-books .block-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Books In Shelf In Block */
.browseBooks.shelf-books .shelf-book .flex .block{
    width: 100%;
}
.browseBooks.shelf-books .shelf-book .flex .shelf{
    width: 100%;
    margin-right: 15px;
}
.browseBooks.shelf-books .shelf-book .scroll{
    height: 190px;
    overflow-y: scroll;
    background-color: var(--whiteColor);
    display: none;
}
.browseBooks.shelf-books .shelf-book .scroll div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.browseBooks.shelf-books .shelf-book div:not(.title,.scroll,.flex,.note){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.shelf-books .shelf-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.shelf-books .shelf-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}

/*  Books In Shelf In Block Information */
.browseBooks.shelf-books .shelf-book-info{
    margin-top: 15px;
    display: none;
}
.browseBooks.shelf-books .shelf-book-info div:not(.title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browseBooks.shelf-books .shelf-book-info div p:not(.back){
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browseBooks.shelf-books .shelf-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Footer */
.footer {
    margin-top: 15px;
    background-color: var(--mainBlackColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.footer .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
}
  @media (max-width: 991px) {
    .footer {
      text-align: center;
    }
    .footer .box-container{
        flex-direction: column;
    }
    .footer .box-container .box{
        width: 100%;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .footer .box-container .box:not(:first-child){
        border-top: 1px solid var(--lightBlackColor);
    }
    .footer .box-container .box:last-child{
        padding-top: 50px;
    }
  }

  /* Side One */
  .footer .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .logo h3{
        font-size: 17px;
        color: var(--whiteColor);
    }
 
  .footer .box .text {
    text-align: center;
    line-height: 2;
    color: var(--whiteColor);
  }

  /* Side Two */
.footer .box .line {
    display: flex;
    align-items: center;
    color: var(--lightBlackColor);
    font-weight: bold;
    cursor: pointer;
  }
  .footer .box .line:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer .box .line i {
    font-size: 25px;
    color: var(--lightBlackColor);
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
}
  .footer .box .line .info {
    line-height: 1.7;
    color: var(--lightBlackColor);
}
  .footer .box .line .info span {
    display: block;
  }

    /* Side Three */
  .footer .box .social {
    display: flex;
    justify-content: center;
  }
  .footer .box .social li {
    margin-right: 10px;
  }
  .footer .box .social li a {
    background-color: var(--darkBlackColor);
    color: var(--lightBlackColor);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .footer .box .social .facebook:hover {
    background-color: var(--facebookColor);
  }
  .footer .box .social .twitter:hover {
    background-color: var(--twitterColor);
  }
  .footer .box .social .youtube:hover {
    background-color: var(--youtubeColor);
  }

  /* Copy Right */
  .footer .copy-right {
    padding: 25px 0;
    text-align: center;
    color: var(--whiteColor);
    margin: 50px 0 0;
    border-top: 1px solid var(--lightBlackColor);
  }
