/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');
/* End Google Fonts */


/* Variables */
:root{
    --dangerColor: #e74c3c;
    --blueColor: #0075ff;
    --secondDangerColor: rgb(231, 76, 60, 0.50);
    --successColor: #2ecc71;
    --secondSuccessColor: rgb(46, 204, 113, 0.2);
    --mainBlackColor: #353535;
    --secondBlackColor: rgba(34, 34, 34, 0.85);
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --mediumBlackColor: #363f4a;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}
/* End Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
*::-webkit-scrollbar{
    width: 20px;
}
*::-webkit-scrollbar-track{
    background-color: var(--whiteColor);
}
*::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: var(--mainBlackColor);
}
body{
    direction: rtl;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.special-title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.delete{
    font-weight: bold !important;
    color: var(--whiteColor) !important;
    background-color: var(--dangerColor) !important;
    cursor: pointer  !important;
}
small{
    color: var(--dangerColor);
    font-weight: bold;
}
.note{
    width: 100%;
    font-weight: bold;
    background-color: var(--dangerColor) !important;
    color: var(--whiteColor);
    padding: 2px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input{
    width: 100%;
    border: none;
    outline: none;
    padding: 2px 10px;
    color: var(--mainBlackColor);
    font-weight: bold;
    font-size: 16px;
}
.count{
    font-weight: bold;
    color: var(--dangerColor);
}
.flex{
    display: flex;
    align-items: center;
}
/* End Global Rules */

/* Header */
.header{
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1;
    background-color: var(--mainBlackColor);
}
.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo h3{
    font-size: 17px;
}
.header .container a{
  display: flex;
  align-items: center;
  color: var(--whiteColor);
}
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    background-image: url('../IMGS/AVATAR/avatar-01.png');
    background-size: cover;
    margin-left: 5px;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu #logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--mediumBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header{
        background-color: var(--mainBlackColor);
    }
    .header .container .logo h3{
        display: none;
    }
    .header .container .profile-pic{
        border-color: var(--thirdColor);
    }
    .header .container .user-login i{
        color: var(--thirdColor);
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}
/* End Header */

/* Browse Books Landing */
.browse-books-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}
.browse-books-landing .container{
    height: 100%;
}
.browse-books-landing .container .browseBooks{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* Search Books */
.browse-books-landing .container .browseBooks.search-books{
    margin-top: 15px;
}
.browse-books-landing .container .browseBooks.search-books .search-container{
    position: relative;
    background-color: var(--thirdColor);
    padding: 6px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}
.browse-books-landing .container .browseBooks.search-books .search-container .submit{
    border: none;
    font-size: 18px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    padding: 6px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-left: 6px solid var(--thirdColor);
}
.browse-books-landing .container .browseBooks.search-books .search-container #book{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}
.browse-books-landing .container .browseBooks.search-books .search-container #subject{
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--dangerColor);
    font-size: 16px;
    font-weight: bold;
    color: var(--whiteColor);
    border-right: 6px solid var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* End Search Books */

/* Show Books */
.browse-books-landing .container .browseBooks.books{
    padding: 0;
    margin-top: 15px;
    background-color: var(--whiteColor);
    display: none;
}
.browse-books-landing .container .the-books{
    border: 6px solid var(--thirdColor);
    width: 100%;
    border-spacing: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .the-books tr{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.browse-books-landing .container .the-books tr:not(:first-child):hover{
    background-color: var(--thirdColor);
    cursor: pointer;
}
.browse-books-landing .container .the-books th{
    background-color: var(--dangerColor);
    padding: 8px;
    color: var(--whiteColor);
}
.browse-books-landing .container .the-books td{
    border-bottom: none;
    border-top: 6px solid var(--thirdColor);
    background-color: transparent;
    padding: 8px;
    text-align: center;
    color: var(--mainBlackColor);
    font-weight: bold;
}
.browse-books-landing .container .the-books th:not(:last-child){
    border-left: 6px solid var(--thirdColor);
}
.browse-books-landing .container .the-books td:not(:last-child){
    border-left: 6px solid var(--thirdColor);
}
@media (max-width:991px){
    .browse-books-landing .container .profile.books{
        overflow-x: scroll;
    }
    .browse-books-landing .container .the-books th{
        font-size: 15px;
    }
    .browse-books-landing .container .the-books td{
        font-size: 15px;
    }
}
/* End Show Books */

.browse-books-landing .container .grid-layout{ 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 15px;
}
@media (max-width:767px){
    .browse-books-landing .container .grid-layout{
        grid-template-columns: minmax(200px,1fr);
    }
}
/* Latest Books */
.browse-books-landing .container .browseBooks.latest-books .latest-book div:not(.special-title){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.browse-books-landing .container .browseBooks.latest-books .latest-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.latest-books .latest-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End Latest Books */

/* Latest Book Information */
.browse-books-landing .container .browseBooks.latest-books .latest-book-info{
    margin-top: 15px;
    display: none;
}
.browse-books-landing .container .browseBooks.latest-books .latest-book-info div:not(.special-title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.latest-books .latest-book-info div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browse-books-landing .container .browseBooks.latest-books .latest-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.browse-books-landing .container .browseBooks.latest-books .latest-book-info .dubel-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.browse-books-landing .container .browseBooks.latest-books .latest-book-info .back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
/* End Latest Book Information */

/* My Books */
.browse-books-landing .container .browseBooks.my-books .my-book div:not(.special-title){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.browse-books-landing .container .browseBooks.my-books .my-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.my-books .my-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End My Books */

/* My Book Information */
.browse-books-landing .container .browseBooks.my-books .my-book-info{
    margin-top: 15px;
    display: none;
}
.browse-books-landing .container .browseBooks.my-books .my-book-info div:not(.special-title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.my-books .my-book-info div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browse-books-landing .container .browseBooks.my-books .my-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.browse-books-landing .container .browseBooks.my-books .my-book-info .dubel-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.browse-books-landing .container .browseBooks.my-books .my-book-info .back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
/* End My Book Information */

/* Blook Books */
.browse-books-landing .container .browseBooks.block-books .block-book .scroll{
    height: 190px;
    overflow-y: scroll;
    background-color: var(--whiteColor) !important;
    display: none;
}
.browse-books-landing .container .browseBooks.block-books .block-book .scroll div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.browse-books-landing .container .browseBooks.block-books .block-book div:not(.special-title,.scroll){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.block-books .block-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.block-books .block-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End  Block Books */

/*  Block Book Information */
.browse-books-landing .container .browseBooks.block-books .block-book-info{
    margin-top: 15px;
    display: none;
}
.browse-books-landing .container .browseBooks.block-books .block-book-info div:not(.special-title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.block-books .block-book-info div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browse-books-landing .container .browseBooks.block-books .block-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.browse-books-landing .container .browseBooks.block-books .block-book-info .dubel-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.browse-books-landing .container .browseBooks.block-books .block-book-info .back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
/* End  Block Book Information */

/* shelf Books */
.browse-books-landing .container .browseBooks.shelf-books .shelf-book .flex .block{
    width: 100%;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book .flex .shelf{
    width: 100%;
    margin-right: 15px;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book .scroll{
    height: 190px;
    overflow-y: scroll;
    background-color: var(--whiteColor) !important;
    display: none;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book .scroll div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book div:not(.special-title,.scroll,.flex){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 6px;
    background-color: var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book div p{
    width: 100%;
    text-align: center;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End  shelf Books */

/*  shelf Book Information */
.browse-books-landing .container .browseBooks.shelf-books .shelf-book-info{
    margin-top: 15px;
    display: none;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book-info div:not(.special-title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book-info div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book-info div span{
    padding: 0 8px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.browse-books-landing .container .browseBooks.shelf-books .shelf-book-info .dubel-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.browse-books-landing .container .browseBooks.shelf-books .shelf-book-info .back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
/* End  shelf Book Information */

/* End Browse Books Landing */
