/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');
/* End Google Fonts */


/* Variables */
:root{
    --dangerColor: #e74c3c;
    --blueColor: #0075ff;
    --secondDangerColor: rgb(231, 76, 60, 0.50);
    --successColor: #2ecc71;
    --secondSuccessColor: rgb(46, 204, 113, 0.2);
    --mainBlackColor: #353535;
    --secondBlackColor: rgba(34, 34, 34, 0.85);
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --mediumBlackColor: #363f4a;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}
/* End Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
*::-webkit-scrollbar{
    width: 20px;
}
*::-webkit-scrollbar-track{
    background-color: var(--whiteColor);
}
*::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: var(--mainBlackColor);
}
body{
    direction: rtl;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.special-title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.note{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.submit{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.submit:hover{
    background-color: var(--secondDangerColor);
}
.input{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: bold;
}
small{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: var(--dangerColor);
    display: none;
}
.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
@media (max-width:991px){
    .flex-div{
        flex-direction: column;
        width: 100%;
    }
}
/* End Global Rules */

/* Header */
.header{
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1;
    background-color: var(--mainBlackColor);
}
.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo h3{
    font-size: 17px;
}
.header .container a{
  display: flex;
  align-items: center;
  color: var(--whiteColor);
}
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    background-image: url('../IMGS/AVATAR/avatar-01.png');
    background-size: cover;
    margin-left: 5px;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu #logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--mediumBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header{
        background-color: var(--mainBlackColor);
    }
    .header .container .logo h3{
        display: none;
    }
    .header .container .profile-pic{
        border-color: var(--thirdColor);
    }
    .header .container .user-login i{
        color: var(--thirdColor);
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}
/* End Header */

/* Create Books Page */
.createBooks-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}
.createBooks-landing .container{
    height: 100%;
}
.createBooks-landing .container .grid-layout{ 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 15px;
}
@media (max-width:767px){
    .createBooks-landing .container .grid-layout{
        grid-template-columns: minmax(200px,1fr);
    }
}
.createBooks-landing .input-field{
    background-color: var(--thirdColor);
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Create Block Partion */
.createBooks-landing .container .create-block{
    margin-bottom: 15px;
}
.createBooks-landing .container .create-block .input:not(:last-child){
    border-bottom: 8px solid var(--thirdColor);
}
@media (max-width:992px){
    .createBooks-landing .container .create-block{
        margin-bottom: 0;
    }
}
/* End Create Block Partion */

/* Create shelf Partion */
.createBooks-landing .container .create-shelf{
    margin-bottom: 15px;
}
.createBooks-landing .container .create-shelf .input:not(:last-child){
    border-bottom: 8px solid var(--thirdColor);
}
/* End Create shelf Partion */

.createBooks-landing .container .createBooks{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.createBooks-landing .container .input-field .block{
    width: calc(50% - 5px);
}
.createBooks-landing .container .input-field .shelf{
    width: calc(50% - 5px);
}
@media (max-width:991px){
    .createBooks-landing .container .input-field .block{
        width: calc(100%);
    }
    .createBooks-landing .container .input-field .shelf{
        width: calc(100%);
        margin-top: 10px;
    }
}
.createBooks-landing .container .input-field .body-flex{
    display: flex;
}
.createBooks-landing .container .input-field .body-flex .input{
    border-bottom: 8px solid var(--thirdColor);
}
.createBooks-landing .container .input-field .body-flex .input:not(:last-child){
    border-left: 8px solid var(--thirdColor);
}
@media (max-width:991px){
    .createBooks-landing .container .input-field .body-flex{
        flex-direction: column;
    }
    .createBooks-landing .container .input-field .body-flex .input:not(:last-child){
        border-left: none;
    }
}
.createBooks-landing .container .input-field textarea{
    resize: none;
}
.createBooks-landing .container .input-field .input::placeholder{
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: bold;
}
.createBooks-landing .container .show-created-book .the-book{
    background-color: var(--whiteColor);
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: var(--dangerColor);
}
.createBooks-landing .container .show-created-book{
    display: none;
}
.createBooks-landing .container .go-to-browse-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--dangerColor);
}
.createBooks-landing .container .go-to-browse-book a{
    color: var(--dangerColor);
    font-weight: bold;
}

/* End Create Books Page */
