/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

/* Variables */
:root{
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --mainBlackColor: #353535;
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
    --blueColor: #0075ff;
    --facebookColor: #1877f2;
    --twitterColor: #1da1f2;
    --youtubeColor: #ff0000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--mainBlackColor);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    direction: rtl;
}

/* Container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
small{
    margin-top: 10px;
    font-weight: bold;
    color: var(--dangerColor);
}
.submit{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--secondDangerColor);
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
@media (max-width:991px){
    .flex{
        flex-direction: column;
        width: 100%;
    }
}
.input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
}
.input::placeholder{
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: bold;
}
.note{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.input-field{
    background-color: var(--thirdColor);
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Header */
.header{
    position: relative;
    height: 100px;
    background-color: var(--mainBlackColor);
    z-index: 1;
}

.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo{
    display: flex;
    align-items: center;
}
.header .container .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}
/* Start User Login Drop List */
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.header .container .profile-pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu a{
    display: flex;
    align-items: center;
    color: var(--whiteColor);
}
.header .container .menu .logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px 10px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--darkBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header .container .logo h3{
        display: none;
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}

/* Create Books Landing */
.createBooks-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Grid Layout */
.createBooks-landing .container .grid-layout{ 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 15px;
}
@media (max-width:767px){
    .createBooks-landing .container .grid-layout{
        grid-template-columns: minmax(200px,1fr);
    }
}

/* Create Books */
.createBooks-landing .container .createBooks{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* Create Block */
.create-block{
    margin-bottom: 15px;
}
.create-block .input:not(:last-child){
    border-bottom: 8px solid var(--thirdColor);
}
@media (max-width:992px){
    .create-block{
        margin-bottom: 0;
    }
}

/* Create shelf */
.create-shelf{
    margin-bottom: 15px;
}
.create-shelf .input:not(:last-child){
    border-bottom: 8px solid var(--thirdColor);
}


/* Create Book */
.input-field .block{
    width: calc(50% - 5px);
}
.input-field .shelf{
    width: calc(50% - 5px);
}
@media (max-width:991px){
    .input-field .block{
        width: calc(100%);
    }
    .input-field .shelf{
        width: calc(100%);
        margin-top: 10px;
    }
}
.input-field .body-flex{
    display: flex;
}
.input-field .body-flex .input{
    border-bottom: 8px solid var(--thirdColor);
}
.input-field .body-flex .input:not(:last-child){
    border-left: 8px solid var(--thirdColor);
}
@media (max-width:991px){
    .input-field .body-flex{
        flex-direction: column;
    }
    .input-field .body-flex .input:not(:last-child){
        border-left: none;
    }
}
.input-field textarea{
    resize: none;
}

/* Show Created Books */
.show-created-book{
    display: none;
}
.show-created-book .the-book{
    background-color: var(--whiteColor);
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: var(--dangerColor);
}

/* Go To Browse Book Page */
.go-to-browse-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--dangerColor);
}
.go-to-browse-book a{
    color: var(--dangerColor);
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: var(--mainBlackColor);
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Box */
.footer .box .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .box .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}

/* Social Media Box */
.footer .box .social{
    display: flex;
    justify-content: center;
}
.footer .box .social li {
margin-right: 10px;
}
.footer .box .social li a {
background-color: var(--darkBlackColor);
color: var(--lightBlackColor);
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
font-size: 20px;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
.footer .box .social .facebook:hover {
background-color: var(--facebookColor);
color: var(--whiteColor);
}
.footer .box .social .telegram:hover {
background-color: var(--telegramColor);
color: var(--whiteColor);
}
.footer .box .social .youtube:hover {
background-color: var(--youtubeColor);
color: var(--whiteColor);
}
.footer .box .social .email:hover {
background-color: var(--emailColor);
color: var(--whiteColor);
}

/* Copy Right */
.footer .copy-right {
padding: 25px 0;
text-align: center;
color: var(--whiteColor);
border-top: 1px solid var(--lightBlackColor);
}
@media (max-width:991px){
    .footer .container{
        flex-direction: column;
    }
    .footer .box .logo{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer .box .social{
        margin-bottom: 15px;
    }
}