/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');
/* End Google Fonts */


/* Variables */
:root{
    --mainColor: #d5b94e;
    --secondColor: #dec465;
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --successColor: #2ecc71;
    --secondSuccessColor: rgb(46, 204, 113, 0.2);
    --mainBlackColor: #353535;
    --secondBlackColor: rgba(34, 34, 34, 0.85);
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --mediumBlackColor: #363f4a;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}
/* End Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;
}
body{
    direction: rtl;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.Back{
    width: 100%;
    text-align: end;
}
.back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
/* End Global Rules */

/* Header */
.header{
    height: 100px;
    background-color: var(--mainBlackColor);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container a{
    display: flex;
    align-items: center;
}
.header .container .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}
@media (max-width:991px){
    .header{
        background-color: var(--mainBlackColor);
    }
    .header .container .logo h3{
        display: none;
    }
}
/* End Header */

/* Page Container */
.page-container{
    position: relative;
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
}
/* End Page Container */

/* SignUp Form */
.email-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* Form */

form {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--whiteColor);
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width:400px){
    form {
        width: 350px;
    }
}
.title{
    font-size: 14px;
    font-weight: bold;
    color: var(--mainBlackColor);
    margin-bottom: 10px;
}

@media (max-width:991px){
    .title{
        width: 350px;
        text-align: center;
    }
}

/* Input Field */
.input-field{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.input-field i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: var(--whiteColor);
    background-color: var(--mainBlackColor);
    border: 1px solid var(--mainBlackColor);
    border-left: none;
}

.input-field input{
    width: 85%;
    outline: none;
    padding: 10px;
    border: 1px solid var(--mainBlackColor);
    background-color: var(--whiteColor);
    font-weight: 600;
}

.input-field input::placeholder {
    color: var(--mainBlackColor);
    font-weight: 600;
}

/* End Input Field */

/* Submit Buttons */
.submit{
    width: 100%;
    margin-bottom: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    background-color: var(--mainBlackColor);
    text-decoration: none;
    border: none;
    outline: none;
    height: 50px;
    color: var(--whiteColor);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
}

.btn:hover {
    background-color: var(--darkBlackColor);
}

@media (max-width:991px){
    .submit{
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}
/* End Submit Buttons */

/* End Form */

/* End SignIn Form */
