/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

/* Variables */
:root{
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --mainBlackColor: #353535;
    --darkBlackColor: #101010; 
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;
}
body{
    direction: rtl;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.reset{
    font-size: 14px;
    font-weight: bold;
    color: var(--dangerColor);
}
.title{
    font-size: 35px;
    color: var(--mainBlackColor);
    margin-bottom: 10px;
}
@media (max-width:991px){
    .title{
        font-size: 30px;
        width: 350px;
        text-align: center;
    }
}
small{
    font-weight: 700;
    color: var(--dangerColor);
    display: none;
}
.submit{
    width: 100%;
    width: 100%;
    margin: 10px 0;
    background-color: var(--mainBlackColor);
    border: none;
    outline: none;
    height: 50px;
    color: var(--whiteColor);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
}
.submit:hover {
    background-color: var(--darkBlackColor);
}

/* Header */
.header{
    height: 100px;
    background-color: var(--mainBlackColor);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo{
    display: flex;
    align-items: center;
}
.header .container .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}
.header .container .close{
    color: var(--whiteColor);
}
@media (max-width:991px){
    .header .container .logo h3{
        display: none;
    }
}

/* Login Container */
.login-container{
    position: relative;
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
}

/* Login Form */
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* Form */
form {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--whiteColor);
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 100px var(--mainBlackColor);
}
@media (max-width:400px){
    form {
        width: 350px;
    }
}

/* Input Field */
.input-field{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.input-field .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: var(--whiteColor);
    background-color: var(--mainBlackColor);
    border: 1px solid var(--mainBlackColor);
    border-left: none;
}

.input-field input{
    width: 85%;
    outline: none;
    padding: 10px;
    border: 1px solid var(--mainBlackColor);
    background-color: var(--whiteColor);
    font-weight: 600;
}

.input-field input::placeholder {
    color: var(--mainBlackColor);
    font-weight: 600;
}

/* Input Field Validtion */
.input-field .check,
.input-field .exclamation{
    position: absolute;
    padding: 0 10px;
    border: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    visibility: hidden;
}
/* Error Valid */
.input-field.error input{
    border-color: var(--dangerColor);
    border-width: 2px;
}

.input-field.error + small{
    display: block;
}

.input-field.error .exclamation{
    visibility: visible;
}

.input-field.error i{
    background-color: transparent;
    border-color: var(--dangerColor);
    color: var(--dangerColor);
    border-width: 2px;
}
