/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');
/* End Google Fonts */


/* Variables */
:root{
    --mainColor: #d5b94e;
    --secondColor: #dec465;
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --successColor: #2ecc71;
    --secondSuccessColor: rgb(46, 204, 113, 0.2);
    --mainBlackColor: #353535;
    --secondBlackColor: rgba(34, 34, 34, 0.85);
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --mediumBlackColor: #363f4a;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}
/* End Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
body{
    direction: rtl;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
/* End Global Rules */

/* Header */
.header{
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1;
    border-bottom: 1px solid var(--thirdColor);
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container > i{
  display: none;
  cursor: pointer;
  color: var(--whiteColor);
  padding: 5px 7px;
  border: 1px solid var(--whiteColor);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .container > i:hover{
  background-color: var(--darkBlackColor);
}
.header .container a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blackColor);
}
.header .container .logo h3{
    font-size: 17px;
}
.header .container .collection-of-links{
    display: flex;
    align-items: center;
}
.header .container .collection-of-links li a{
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  color: var(--mainBlackColor);
}
.header .container .collection-of-links li .click i{
  margin-right: 5px;
}
.header .container .collection-of-links li .signup{
  padding: 4px 10px;
  border: 3px solid var(--mainBlackColor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .container .collection-of-links li .signup:hover{
  background-color: var(--mainBlackColor);
  color: var(--whiteColor);
}
.header .container .collection-of-links.list-on{
  border-top: 1px solid var(--lightBlackColor);
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--mainBlackColor);
}
.header .container .collection-of-links.list-on li a{
  color: var(--whiteColor);
}
.header .container .collection-of-links.list-on li .signin{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--whiteColor);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--whiteColor);
  color: var(--mainBlackColor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .container .collection-of-links.list-on li .signin:hover{
  background-color: var(--mainBlackColor);
  color: var(--whiteColor);
}
.header .container .collection-of-links.list-on li .signup{
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--whiteColor);
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .container .collection-of-links .menu{
  display: none;
}
.header .container .collection-of-links li .menu li:not(:last-child){
  border-bottom:1px solid var(--thirdColor);
}
.header .container .collection-of-links li .menu li a:hover{
  padding-right: 20px;
}
.header .container .collection-of-links .menu.on{
  overflow: hidden;
  display: block;
  position: absolute;
  left: 25%;
  top: 100px;
  width: 20%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border: 1px solid var(--thirdColor);
  border-top: 3px solid var(--mainBlackColor);
  background-color: var(--whiteColor);
}
.header .container .collection-of-links .menu.on li a{
  color: var(--mainBlackColor);
}
@media (max-width:991px){
  .header{
    background-color: var(--mainBlackColor);
  }
  .header .container > i{
    display: block;
  }
  .header .container .collection-of-links,
  .header .container .logo h3{
    display: none;
  }
  .header .container .collection-of-links .menu.on{
    width: 100%;
    position: inherit;
    transform: none;
    background-color: var(--mediumBlackColor);
    flex-direction: column;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .header .container .collection-of-links .menu.on li a{
    color: var(--whiteColor);
  }
  .header .container .collection-of-links .menu.on li a:hover{
    padding-right: 20px;
  }
}
/* End Header */

.landing-page{
  height: calc(100vh - 100px);
  position: relative;
}
.landing-page .search{
  position: absolute;
  display: flex;
  width: 80%;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  box-shadow: 0 0 10px var(--mainBlackColor);
}
.landing-page .search i{
  display: flex;
  color: var(--whiteColor);
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  border: 1px solid var(--mainBlackColor);
  border-left: 0;
  background-color: var(--mainBlackColor);
}
.landing-page .search input{
  width: 100%;
  height: 65px;
  outline: none;
  border: 1px solid var(--mainBlackColor);
  padding: 20px 20px 20px 95px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.landing-page .search input::placeholder{
  font-size: 18px;
  font-weight: 700;
  color: var(--mainBlackColor);
}
.landing-page .search select{
  position: absolute;
  background-color: var(--mainBlackColor);
  color: var(--whiteColor);
  height: 80%;
  left: 0.5%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  outline: none;
  border: 1px solid var(--mainBlackColor);
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}