/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

/* Variables */
:root{
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --mainBlackColor: #353535;
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
    --blueColor: #0075ff;
    --facebookColor: #1877f2;
    --telegramColor: #0088cc;
    --youtubeColor: #ff0000;
    --emailColor: #dd4b39;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    direction: rtl;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--mainBlackColor);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

/* Container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.special-title{
    margin: 0px auto 80px;
    padding: 5px 20px;
    font-size: 22px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--dangerColor);
    font-weight: bold;
    color: var(--whiteColor);
}
.special-title::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: var(--dangerColor) transparent transparent transparent;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media (max-width: 767px) {
    .special-title:first-child{
        font-size: 18px;
    }
}
.title{
    width: fit-content;
    border: none;
    outline: none;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 15px;
}
small{
    margin-top: 10px;
    font-weight: bold;
    color: var(--dangerColor);
}
.note{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-weight: bold;
    text-align: center;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
}
.input::placeholder{
    color: var(--mainBlackColor);
    font-size: 15px;
    font-weight: bold;
}
.submit{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--secondDangerColor);
}
.back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
    text-align: end;
}

/* Header */
.header{
    position: relative;
    height: 100px;
    background-color: var(--mainBlackColor);
    z-index: 1;
}

.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo{
    display: flex;
    align-items: center;
}
.header .container .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}

/* User Not Login */
/* Links */
.bars{
    display: none;
    color: var(--lightBlackColor);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.bars:hover{
    color: var(--whiteColor);
    background-color: var(--darkBlackColor);
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.links{
    display: flex;
}
.links li a{
    /* margin-right: 15px; */
    padding: 10px 16px;
    font-size: 16px;
    color: var(--lightBlackColor);
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.links li a:hover{
    color: var(--whiteColor);
}
.links li .login{
    border: 2px solid var(--lightBlackColor);
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.links li .login:hover{
    background-color: var(--whiteColor);
    border-color: var(--whiteColor);
    color: var(--mainBlackColor);
}
@media (max-width:991px){
    .bars{
        display: block;
    }
    .links{
        display: none;
        width: 100%;
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        flex-direction: column;
        position: absolute;
        left: 0;
        background-color: var(--mainBlackColor);
        padding: 10px;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .links li{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .links li a{
        text-align: center;
        display: block;
        padding: 5px 10px;
    }
    .links li a:hover{
        color: var(--whiteColor);
        background-color: var(--darkBlackColor);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .links li .login{
        text-align: center;
        margin-top: 10px;
    }
    .links.clicked{
        display: block;
    }
}

/* User Login */
/* User Login Drop List */
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.header .container .profile-pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu a{
    display: flex;
    align-items: center;
    color: var(--whiteColor);
}
.header .container .menu .logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px 10px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--darkBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header .container .logo h3{
        display: none;
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}

/* Intro Landing */
.intro-landing{
    position: relative;
    min-height: calc(100vh - 100px);
}
.intro-landing::after{
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--thirdColor);
}

/* Intro Home */
.intro-landing .home{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    background-color: var(--thirdColor);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border: 1px solid var(--thirdColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 15px;
}

/* Home Intro Box */
.intro-landing .home .intro-box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--whiteColor);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

/* Intro Box Boxes */
.intro-landing .home .intro-box .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



/* About US */
.about-us{
    padding-top: 100px;
    background-color: var(--whiteColor);
    padding-bottom: 100px;
}

/* Grid Layout */
.about-us .grid-layout{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px ,1fr));
    gap: 15px;
}

/* Administrators */
.about-us .administrators{
    padding: 15px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.administrators .slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid var(--dangerColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.administrators .card{
    position: relative;
    border: 5px solid var(--dangerColor);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}
.administrators .card  img{
    position: absolute;
    top: 0;
    left: 0ss;
    width: 100%;
    height: 100%;
}
.administrators .name{
    height: fit-content;
    display: inline;
    font-size: 20px;
    color: var(--mainBlackColor);
    font-weight: bold;
    background-color: var(--whiteColor);
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.administrators .name span{
    color: var(--lightBlackColor);
}
.administrators .telephone{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.administrators .telephone a{
    text-align: center;
    width: 100%;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* About Library */
.about-us .about-library{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    padding: 15px;
}
.about-library .card{
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 5px solid var(--dangerColor);
}

/* Social Media */
.about-us .socials{
    padding: 15px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.about-us .socials .social{
    display: flex;
    justify-content: center;
    border: 5px solid var(--dangerColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.about-us .socials .social li {
    margin-right: 10px;
}
.about-us .socials .social li a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
font-size: 20px;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
.about-us .socials .social .facebook {
border: 2px solid var(--facebookColor);
color: var(--facebookColor);
}
.about-us .socials .social .telegram {
border: 2px solid var(--telegramColor);
color: var(--telegramColor);
}
.about-us .socials .social .youtube {
border: 2px solid var(--youtubeColor);
color: var(--youtubeColor);
}
.about-us .socials .social .email {
border: 2px solid var(--emailColor);
color: var(--emailColor);
}
.about-us .socials .social .facebook:hover {
background-color: var(--facebookColor);
color: var(--whiteColor);
}
.about-us .socials .social .telegram:hover {
background-color: var(--telegramColor);
color: var(--whiteColor);
}
.about-us .socials .social .youtube:hover {
background-color: var(--youtubeColor);
color: var(--whiteColor);
}
.about-us .socials .social .email:hover {
background-color: var(--emailColor);
color: var(--whiteColor);
}

/* Location */
.about-us .location{
    padding: 15px;
    background-color: var(--whiteColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.location .visit{
    border: 5px solid var(--dangerColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    height: 90px;
}
.location iframe{
    border: 5px solid var(--dangerColor);
}
@media (max-width:767px){
    .about-us .grid-layout{
        grid-template-columns: minmax(200px,1fr);
    }
}
@media (max-width:991px){
    .administrators .slide{
        flex-direction: column;
    }
    .administrators .card{
        margin-bottom: 15px;
    }
}

/* Browse Books */
.browse-books{
    padding-top: 100px;
    background-color: var(--thirdColor);
    padding-bottom: 100px;
}

/* Search */
.browse-books .search{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* Search Form */
.search .search-form{
    border: 6px solid var(--thirdColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}
.search-form .subject.input{
    width: 20%;
    border-right: 6px solid var(--thirdColor);
    font-size: 15px;
}
.search-form .submit{
    border-top: 6px solid var(--thirdColor);
}
@media (max-width:991px){
    .search-form .subject.input{
        width: 40%;
    }
}

/* Show Searched Books */
.show-searched-books{
    display: none;
    margin-top: 15px;
}
.searched-books{
    border: 6px solid var(--thirdColor);
    width: 100%;
    border-spacing: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.searched-books tr{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.searched-books tr:not(:first-child):hover{
    background-color: var(--thirdColor);
    cursor: pointer;
}
.searched-books th{
    background-color: var(--dangerColor);
    padding: 8px;
    color: var(--whiteColor);
}
.searched-books td{
    border-bottom: none;
    border-top: 6px solid var(--thirdColor);
    background-color: transparent;
    padding: 8px;
    text-align: center;
    color: var(--mainBlackColor);
    font-weight: bold;
}
.searched-books th:not(:last-child),
.searched-books td:not(:last-child){
    border-left: 6px solid var(--thirdColor);
}
@media (max-width:991px){
    .show-searched-books{
        overflow-x: scroll;
    }
    .searched-books th{
        font-size: 15px;
    }
    .searched-books td{
        font-size: 15px;
    }
}

/* Footer */
.footer {
    background-color: var(--mainBlackColor);
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Box */
.footer .box .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .box .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}

/* Social Media Box */
.footer .box .social{
    display: flex;
    justify-content: center;
}
.footer .box .social li {
margin-right: 10px;
}
.footer .box .social li a {
background-color: var(--darkBlackColor);
color: var(--lightBlackColor);
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
font-size: 20px;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
.footer .box .social .facebook:hover {
background-color: var(--facebookColor);
color: var(--whiteColor);
}
.footer .box .social .telegram:hover {
background-color: var(--telegramColor);
color: var(--whiteColor);
}
.footer .box .social .youtube:hover {
background-color: var(--youtubeColor);
color: var(--whiteColor);
}
.footer .box .social .email:hover {
background-color: var(--emailColor);
color: var(--whiteColor);
}

/* Copy Right */
.footer .copy-right {
padding: 25px 0;
text-align: center;
color: var(--whiteColor);
border-top: 1px solid var(--lightBlackColor);
}
@media (max-width:991px){
    .footer .container{
        flex-direction: column;
    }
    .footer .box .logo{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer .box .social{
        margin-bottom: 15px;
    }
}