/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');
/* End Google Fonts */


/* Variables */
:root{
    --dangerColor: #e74c3c;
    --blueColor: #0075ff;
    --secondDangerColor: rgb(231, 76, 60, 0.50);
    --successColor: #2ecc71;
    --secondSuccessColor: rgb(46, 204, 113, 0.2);
    --mainBlackColor: #353535;
    --secondBlackColor: rgba(34, 34, 34, 0.85);
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --mediumBlackColor: #363f4a;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
}
/* End Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
*::-webkit-scrollbar{
    width: 20px;
}
*::-webkit-scrollbar-track{
    background-color: var(--whiteColor);
}
*::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: var(--mainBlackColor);
}
body{
    direction: rtl;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
small{
    color: var(--dangerColor);
    font-weight: bold;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

.special-title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
.note{
    padding: 2px 8px;
    width: fit-content;
    background-color: var(--dangerColor);
    font-weight: bold;
    font-size: 15px;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.double-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.edit{
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
.delete{
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.add{
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows i{
    color: var(--dangerColor);
    cursor: pointer;
}
/* End Global Rules */

/* Header */
.header{
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1;
    background-color: var(--mainBlackColor);
}
.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo h3{
    font-size: 17px;
}
.header .container a{
  display: flex;
  align-items: center;
  color: var(--whiteColor);
}
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    background-image: url('../IMGS/AVATAR/avatar-01.png');
    background-size: cover;
    margin-left: 5px;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu #logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--mediumBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header{
        background-color: var(--mainBlackColor);
    }
    .header .container .logo h3{
        display: none;
    }
    .header .container .profile-pic{
        border-color: var(--thirdColor);
    }
    .header .container .user-login i{
        color: var(--thirdColor);
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}
/* End Header */

/* Profile Landing */
.profile-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}
.profile-landing .container{
    height: 100%;
}
.profile-landing .container .grid-layout-one{ 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 20px;
}
@media (max-width:767px){
    .profile-landing .container .grid-layout-one{
        grid-template-columns: minmax(200px,1fr);
    }
}
/* Profile */
.profile-landing .container .profile{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* general Information */
.profile-landing .container .profile.general-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.profile-landing .container .profile.general-info .pic{
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url('../IMGS/AVATAR/avatar-01.png');
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid var(--thirdColor);
    overflow: hidden;
}
.profile-landing .container .profile.general-info  .name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--mainBlackColor);
}
.profile-landing .container .profile.general-info .job{
    font-size: 16px;
    font-weight: bold;
    color: var(--lightBlackColor);
}
.profile-landing .container .profile.general-info .id{
    font-size: 18px;
    font-weight: bold;
    color: var(--darkBlackColor);
}
.profile-landing .container .profile.general-info .admin-flag{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
}
/* End general Information */

/* User Information*/
.profile-landing .container .profile.user .user-info div:not(.special-title){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile-landing .container .profile.user .user-info div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.profile-landing .container .profile.user .user-info div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End User Information */

/* Edit User Information*/
.profile-landing .container .profile.user .edit-info{
    display: none;
}
.profile-landing .container .profile.user .edit-info div:not(.special-title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile-landing .container .profile.user .edit-info div input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
    color: var(--lightBlackColor);
}
.profile-landing .container .profile.user .edit-info .edit{
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    border: none;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
/* End Edit User Information */

/* User Search */
.profile-landing .container .profile.search-user .search .search-form .search-container{
    position: relative;
    right: -16px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--thirdColor);
    border-radius: 5px 0 0px 5px;
    -webkit-border-radius: 5px 0 0px 5px;
    -moz-border-radius: 5px 0 0px 5px;
    -ms-border-radius: 5px 0 0px 5px;
    -o-border-radius: 5px 0 0px 5px;
}
.profile-landing .container .profile.search-user .search .search-form #search{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.profile-landing .container .profile.search-user .search .error-text{
    margin-top: 15px;
    text-align: center;
}
.profile-landing .container .profile.search-user .search .error-text small{
    font-size: 18px;
    color: var(--dangerColor);
    font-weight: bold;
}
/* End User Search */

/* Other User Informations*/
.profile-landing .container .profile.search-user .user-info{
    display: none;
}
.profile-landing .container .profile.search-user .user-info .info-group div:not(:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile-landing .container .profile.search-user .user-info .info-group div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.profile-landing .container .profile.search-user .user-info .info-group div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End Other User Informations*/

/* Other User Informations Edit */
.profile-landing .container .profile.search-user .edit-info{
    display: none;
}
.profile-landing .container .profile.search-user .edit-info div:not(.special-title,:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile-landing .container .profile.search-user .edit-info div input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
}
.profile-landing .container .profile.search-user .edit-info .flag{
    width: fit-content;
    padding: 2px 8px !important;
    background-color: var(--dangerColor) !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    color: var(--whiteColor);
    font-size: 15px !important;
    font-weight: bold !important;
}
.profile-landing .container .profile.search-user .edit-info .flag label{
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}
.profile-landing .container .profile.search-user .edit-info .flag label::before{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--whiteColor);
    background-color: var(--whiteColor);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.profile-landing .container .profile.search-user .edit-info .flag label:hover::before{
    border-color: var(--blueColor);
}
.profile-landing .container .profile.search-user .edit-info .flag label::after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.profile-landing .container .profile.search-user .edit-info .flag input[type="checkbox"]:checked + label::after{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.profile-landing .container .profile.search-user .edit-info .flag input{
    appearance: none;
    --webkit-appearance: none;
    display: none;
}
/* End Other User Informations Edit */

/* Deleted Users */
.profile-landing .container .deleted-users .show{
}
.profile-landing .container .deleted-users .show .show-deleted-users{
    text-align: centerzz;
    border: none;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    margin-top: 15px;
    background-color: var(--dangerColor);
    font-weight: 700;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.profile-landing .container .deleted-users .show .show-deleted-users:hover{
    background-color: var(--secondDangerColor);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* End Deleted Users */

/* Deleted Users informations*/
.profile-landing .container .deleted-users .info-show{
    display: none;
}
.profile-landing .container .deleted-users .info-show .info-group div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile-landing .container .deleted-users .info-show .info-group div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.profile-landing .container .deleted-users .info-show .info-group div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
/* End Deleted Users informations*/

/* create User */
.profile-landing .container .profile.create-user .head{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-landing .container .profile.create-user .head .flag{
    width: fit-content;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--whiteColor);
    font-size: 15px;
    font-weight: bold;
}
.profile-landing .container .profile.create-user .head .flag label{
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}
.profile-landing .container .profile.create-user .head .flag label::before{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--whiteColor);
    background-color: var(--whiteColor);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.profile-landing .container .profile.create-user .head .flag label:hover::before{
    border-color: var(--blueColor);
}
.profile-landing .container .profile.create-user .head .flag label::after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.profile-landing .container .profile.create-user .head .flag input[type="checkbox"]:checked + label::after{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.profile-landing .container .profile.create-user .head .flag input{
    appearance: none;
    --webkit-appearance: none;
    display: none;
}
.profile-landing .container .profile.create-user{
    margin-top: 15px;
    background-color: var(--whiteColor);
}
.profile-landing .container .create-user-form .input-field{
    margin-bottom: 15px;
    width: 100%;
}
.profile-landing .container .create-user-form .input-field{
    background-color: var(--thirdColor);
    padding: 8px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.profile-landing .container .create-user-form .input-field input{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
}
.profile-landing .container .create-user-form .input-field input:not(.submit){
    border-left: 8px solid var(--thirdColor);
}
.profile-landing .container .create-user-form .input-field input::placeholder{
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: bold;
}
.profile-landing .container .create-user-form .input-field .submit{
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:992px){
    .profile-landing .container .create-user-form .input-field{
        flex-direction: column;
        text-align: center;
    }
    .profile-landing .container .create-user-form .input-field input{
        border: none;
    }
    .profile-landing .container .create-user-form .input-field input:not(.submit){
        margin-bottom: 8px;
        border: none;
    }
}
/* End create User */

/*Error Massege */

/* End Error Massege */

/* End Profile */

/* End Profile Landing */