/* Global Rules */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

/* Variables */
:root{
    --dangerColor: #e74c3c;
    --secondDangerColor: rgb(231, 76, 60, 0.85);
    --mainBlackColor: #353535;
    --darkBlackColor: #101010; 
    --lightBlackColor: #9d9d9d;
    --whiteColor: #fff;
    --thirdColor: #e4e5e7;
    --blueColor: #0075ff;
    --facebookColor: #1877f2;
    --twitterColor: #1da1f2;
    --youtubeColor: #ff0000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--mainBlackColor);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    direction: rtl;
}
/* Flag Input Create */
.flag{
    width: fit-content;
    padding: 2px 8px;
    background-color: var(--dangerColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--whiteColor);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.flag label{
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}
.flag label::before{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--whiteColor);
    background-color: var(--whiteColor);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.flag label:hover::before{
    border-color: var(--blueColor);
}
.flag label::after{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.flag input[type="checkbox"]:checked + label::after{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.flag input{
    appearance: none;
    --webkit-appearance: none;
    display: none;
}

/* Container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
  /* Medium */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
  /* Large */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
  /* XLarge */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
  /* XXLarge */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.title{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
    text-align: center;
}
small{
    font-weight: 700;
    color: var(--dangerColor);
}
.submit{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.submit:hover {
    background-color: var(--secondDangerColor);
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.back{
    font-weight: bold;
    color: var(--dangerColor);
    padding: 5px 15px;
    cursor: pointer;
}
.input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
}
.input::placeholder{
    color: var(--mainBlackColor);
    font-size: 14px;
    font-weight: bold;
}
.edit{
    width: 100%;
    text-align: center;
    font-weight: bold ;
    font-size: 16px;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    border: none;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.edit:hover{
    background-color: var(--secondDangerColor);
}
.arrows{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows i{
    color: var(--dangerColor);
    cursor: pointer;
}

/* Header */
.header{
    position: relative;
    height: 100px;
    background-color: var(--mainBlackColor);
    z-index: 1;
}

.header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .logo{
    display: flex;
    align-items: center;
}
.header .container .logo h3{
    font-size: 17px;
    color: var(--whiteColor);
}
/* Start User Login Drop List */
.header .container .user-login{
    display: flex;
    align-items: center;
}
.header .container .profile-pic{
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid var(--thirdColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
.header .container .profile-pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header .container .user-login i{
    color: var(--thirdColor);
}
.header .container .menu{
    display: none;
}
.header .container .menu a{
    display: flex;
    align-items: center;
    color: var(--whiteColor);
}
.header .container .menu .logout{
    cursor: pointer;
}
.header .container .menu.clicked{
    display: block;
    position: absolute;
    top: 110px;
    left: 0;
    background-color: var(--mainBlackColor);
    color: var(--thirdColor);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 200px;
}
.header .container .menu.clicked::after{
    content: "";
    position: absolute;
    top: -19px;
    left: 50px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--mainBlackColor) transparent;
}
.header .container .menu.clicked hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header .container .menu.clicked span{
    margin-right: 5px;
}
.header .container .menu.clicked a{
    padding: 5px 10px;
}
.header .container .menu.clicked li:first-child{
    pointer-events: none;
}
.header .container .menu.clicked li:not(:first-child):hover{
    color: var(--whiteColor);
    background-color: var(--darkBlackColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width:991px){
    .header .container .logo h3{
        display: none;
    }
    .header .container .menu.clicked{
        border-top: 1px solid var(--thirdColor);
        top: 100px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .header .container .menu.clicked::after{
        border: none;
    }
}

/* Profile Landing */
.profile-landing{
    min-height: calc(100vh - 100px);
    background-color: var(--thirdColor);
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Grid Layout */
.profile-landing .container .grid-layout{ 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 15px;
}
@media (max-width:767px){
    .profile-landing .container .grid-layout{
        grid-template-columns: minmax(200px,1fr);
    }
}

/* Profile */
.profile-landing .container .profile{
    background-color: var(--whiteColor);
    padding: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* general Information */
.profile.general-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.profile.general-info .pic{
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid var(--thirdColor);
    overflow: hidden;
}
.profile.general-info .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile.general-info .name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--mainBlackColor);
}
.profile.general-info .job{
    font-size: 16px;
    font-weight: bold;
    color: var(--lightBlackColor);
}
.profile.general-info .admin-flag{
    font-size: 18px;
    font-weight: bold;
    color: var(--dangerColor);
}

/* User's Information */
.profile.user .user-info div:not(.title){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile.user .user-info div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.profile.user .user-info div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}

/* Edit User's Information */
.profile.user .edit-info{
    display: none;
}
.profile.user .edit-info div:not(.title,.flex){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile.user .edit-info div:nth-child(4){
    margin-bottom: 5px;
}
.profile.user .edit-info small:not(.errorMsg){
    cursor: pointer;
}

/*  Change Password */
.profile.user .change-password{
    display: none;
}
.profile.user .change-password .old-password,.new-password{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--thirdColor);
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile.user .change-password .new-password{
    margin-bottom: 5px;
}

/* User Search For A User */
.profile.search-user .search .search-form .search-container{
    display: flex;
    position: relative;
    right: -16px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--thirdColor);
    border-radius: 5px 0 0px 5px;
    -webkit-border-radius: 5px 0 0px 5px;
    -moz-border-radius: 5px 0 0px 5px;
    -ms-border-radius: 5px 0 0px 5px;
    -o-border-radius: 5px 0 0px 5px;
}
.profile.search-user .search .search-form .search-for-a-user{
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.profile.search-user .search .search-form .submit{
    background-color: var(--dangerColor);
    color: var(--whiteColor);
    margin-right: 10px;
    width: 20%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.profile.search-user .search .search-form .submit:hover{
    background-color: var(--secondDangerColor);
}

/* Other Users Informations*/
.profile.search-user .user-info{
    display: none;
}
.profile.search-user .user-info .info-group div:not(:last-child){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile.search-user .user-info .info-group div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.profile.search-user .user-info .info-group div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}
.profile.search-user .user-info .info-group .delete{
    width: 25%;
    margin-right: 15px;
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--dangerColor);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 991px){
    .profile.search-user .user-info .info-group .delete{
        width: 85%;
    }
}
/* Other Users Informations Edit */
.profile.search-user .edit-info{
    display: none;
}
.profile.search-user .edit-info div:not(.title,.flex,.flag){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile.search-user .edit-info div .input{
    border: none;
    width: 100%;
    outline: none;
    padding: 8px;
    font-weight: bold;
}

/* Deleted Users */
.deleted-users .show .show-deleted-users{
    text-align: center;
    border: none;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    margin-top: 15px;
    background-color: var(--dangerColor);
    font-weight: 700;
    color: var(--whiteColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.deleted-users .show .show-deleted-users:hover{
    background-color: var(--secondDangerColor);
}

/* Deleted Users informations*/
.deleted-users .info-show{
    display: none;
}
.deleted-users .info-show .info-group div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--thirdColor);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.deleted-users .info-show .info-group div p{
    font-weight: bold;
    color: var(--mainBlackColor);
}
.deleted-users .info-show .info-group div span{
    font-weight: bold;
    color: var(--lightBlackColor);
}

/* create User */
.profile.create-user{
    margin-top: 15px;
    background-color: var(--whiteColor);
    font-weight: bold;
}
.create-user-form .input-field{
    margin-bottom: 15px;
    width: 100%;
}
.create-user-form .input-field{
    background-color: var(--thirdColor);
    padding: 8px;
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.create-user-form .input-field .input:not(.submit){
    border-left: 8px solid var(--thirdColor);
}
@media (max-width:991px){
    .create-user-form .input-field{
        flex-direction: column;
        text-align: center;
    }
    .create-user-form .input-field .input{
        border: none;
    }
    .create-user-form .input-field .input:not(.submit){
        margin-bottom: 8px;
        border: none;
    }
}

/* Footer */
.footer {
    margin-top: 15px;
    background-color: var(--mainBlackColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.footer .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
}
  @media (max-width: 991px) {
    .footer {
      text-align: center;
    }
    .footer .box-container{
        flex-direction: column;
    }
    .footer .box-container .box{
        width: 100%;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .footer .box-container .box:not(:first-child){
        border-top: 1px solid var(--lightBlackColor);
    }
    .footer .box-container .box:last-child{
        padding-top: 50px;
    }
  }

  /* Side One */
  .footer .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .logo h3{
        font-size: 17px;
        color: var(--whiteColor);
    }
 
  .footer .box .text {
    text-align: center;
    line-height: 2;
    color: var(--whiteColor);
  }

  /* Side Two */
.footer .box .line {
    display: flex;
    align-items: center;
    color: var(--lightBlackColor);
    font-weight: bold;
    cursor: pointer;
  }
  .footer .box .line:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer .box .line i {
    font-size: 25px;
    color: var(--lightBlackColor);
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
}
  .footer .box .line .info {
    line-height: 1.7;
    color: var(--lightBlackColor);
}
  .footer .box .line .info span {
    display: block;
  }

    /* Side Three */
  .footer .box .social {
    display: flex;
    justify-content: center;
  }
  .footer .box .social li {
    margin-right: 10px;
  }
  .footer .box .social li a {
    background-color: var(--darkBlackColor);
    color: var(--lightBlackColor);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .footer .box .social .facebook:hover {
    background-color: var(--facebookColor);
  }
  .footer .box .social .twitter:hover {
    background-color: var(--twitterColor);
  }
  .footer .box .social .youtube:hover {
    background-color: var(--youtubeColor);
  }

  /* Copy Right */
  .footer .copy-right {
    padding: 25px 0;
    text-align: center;
    color: var(--whiteColor);
    margin: 50px 0 0;
    border-top: 1px solid var(--lightBlackColor);
  }
