/* Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
body{
    direction: rtl;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Global Rules */

/* Header */
.header{
    position: absolute;
    width: 100%;
    z-index: 100;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header .container{
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 800px){
    .header .container{
        color: #fff;
        justify-content: center;
        flex-direction: column;
    }
}
/* End Header */

/* Page Container */
.page-container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.page-container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -150%;
    right: 45%;
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 1.8s ease-in-out;
    -webkit-transition: 1.8s ease-in-out;
    -moz-transition: 1.8s ease-in-out;
    -ms-transition: 1.8s ease-in-out;
    -o-transition: 1.8s ease-in-out;
}

@media (max-width: 800px){
    .page-container:before {
        content: "";
        position: absolute;
        height: 2000px;
        width: 2000px;
        top: -162%;
        right: 45%;
        background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
        transform: translate(50%,-37%);
        -webkit-transform: translate(50%,-37%);
        -moz-transform: translate(50%,-37%);
        -ms-transform: translate(50%,-37%);
        -o-transform: translate(50%,-37%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
/* End Page Container */

/* SignIn Form */
.signin-form{
    position: absolute;
    top: 50%;
    left: 75%;
    width: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

@media (max-width: 800px){
    .signin-form{
        width: 110%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        margin-top: 100px;
    }
}
/* Form */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px;
}

@media (max-width: 800px){
    form{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.title{
    font-size: 35.2px;
    color: #444;
    margin-bottom: 10px;
}

@media (max-width: 800px){
    .title{
        font-size: 26px;
        width: 350px;
        text-align: center;
    }
}

/* Input Field */
.input-field{
    max-width: 380px;
    width: 100%;
    margin: 10px 0;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .input-field{
        width: 350px;
    }
}

.input-field i{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    border-top: 1px solid #acacac;
    border-right: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    border-left: none;
    color: #acacac;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    background-color: white;
}

.input-field input{
    width: 85%;
    outline: none;
    padding: 10px;
    border: 1px solid #acacac;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    background-color: white;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

/* Input Field Validtion */
.input-field .check,
.input-field .exclamation{
    position: absolute;
    padding: 0;
    border: 0;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    visibility: hidden;
}

small{
    font-weight: 700;
    color: #e74c3c;
    display: none;
}
/* Success Valid */
.input-field.success input{
    border-color: #2ecc71;
    border-width: 2px;
}

.input-field.success i{
    border-color: #2ecc71;
    color: #2ecc71;
    border-width: 2px;
}

.input-field.success .check{
    visibility: visible;
}
/* End Success Valid */

/* Error Valid */
.input-field.error input{
    border-color: #e74c3c;
    border-width: 2px;
}

.input-field.error + small{
    display: block;
}

.input-field.error .exclamation{
    visibility: visible;
}

.input-field.error i{
    border-color: #e74c3c;
    color: #e74c3c;
    border-width: 2px;
}
/* End Error Valid */

/* End Input Field Validtion */

/* End Input Field */

/* Submit Buttons */
.submit{
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.submit input:not(:last-child){
    margin-left: 20px;
}

.btn {
    width: 180px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: white;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.btn:hover {
    background-color: #4d84e2;
}

@media (max-width: 1000px){
    .submit{
        width: 350px;
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}
/* End Submit Buttons */

/* End Form */

/* End SignIn Form */