@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    direction: rtl;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--mainBlackColor);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
}