@mixin flex-layout ($gear){
    @if $gear == limit {
        display: flex;
        align-items: center;
    } @else if $gear == full {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@mixin media ($type){
    @if $type == phones{
        @media (max-width:991px) {
            @content
        }
    }
}