// Colors
$light-gray: #e4e5e7;
$white: #fff;
$metal-black: #353535;
$light-black: #9d9d9d;
$dark-black: #101010; 
$danger-red: #e74c3c;
$light-danger-red: rgb(231, 76, 60, 0.85);
$checkbox-checked-color: #0075ff;
$facebook-color:#1877f2;
$telegram-color:#0088cc;
$phone-color:#ff0000;
$email-color:#dd4b39;

// Sizes
$xxx-sm: 0.25rem; // 4px
$xx-sm: 0.5rem; // 8px
$x-sm: 0.75rem; // 12px
$sm: 0.875rem; // 14px
$normal: 1rem; // 16px
$md: 1.225rem; // 18px
$lg: 1.25rem; // 20px
$x-lg: 1.5rem; // 24px
$xx-lg: 1.75rem; // 28px
$xxx-lg: 2rem; // 32px