@use "../../../variables/colors" as *;
@use "../../../variables/font-sizes" as *;
@use "../../../mixins/media-query/media" as *;


@mixin logo($logo:false){
    @if $logo == logo{
        .logo{
            display: flex;
            align-items: center;            
            img{
                width: 70px;
                margin-left: $normal;
            }
            h3{
                font: {
                    size: $md;
                    weight: bold;
                }                
                color: $white;
                line-height: 1.6;
            }
            @include media (all){
                h3{
                    display: none;
                }
            }
        }
    }    
}