@use "../../../mixins/mixins" as *;
@use "../../../variables/variables" as *;

@mixin visitor-nav($visitor:false){
    @if $visitor == visitor{
        .visitor-nav{
            i{
                display: none;
                cursor: pointer;
                color: $light-black;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                &:hover{
                    color: $white;
                    background-color: $dark-black;
                    padding: 8px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
            }
            .menu{
                display: flex;
                a{
                    padding: 10px 16px;
                    color: $light-black;
                    font: {
                        size: 1rem;
                        weight: bold;
                    }
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                    -o-transition: 0.3s;
                    &:hover{
                        color: $white;
                    }
                }
                .login{
                    border: 2px solid $light-black;
                    padding: 5px 8px;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    &:hover{
                        background-color: $white;
                        border-color: $white;
                        color: $metal-black;
                    }
                }
            }
            @include media (phones){
                i{
                    display: block;
                }
                .menu{
                    display: none;
                    width: 100%;
                    border-top: 1px solid $light-gray;
                    top: 100px;
                    flex-direction: column;
                    position: absolute;
                    left: 0;
                    background-color: $metal-black;
                    padding: 10px;
                    border-radius: 0 0 5px 5px;
                    -webkit-border-radius: 0 0 5px 5px;
                    -moz-border-radius: 0 0 5px 5px;
                    -ms-border-radius: 0 0 5px 5px;
                    -o-border-radius: 0 0 5px 5px;
                    &.click{
                        display: block;
                    }
                    li{
                        margin-right: 0;
                        margin-bottom: 5px;
                        a{
                            text-align: center;
                            display: block;
                            padding: 5px 10px;
                            &:hover{
                                color: $white;
                                background-color: $dark-black;
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                            }
                        }
                        .login{
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}