@use "../global/variables/colors" as *;
@use "../global/mixins/media-query/media" as *;

.landing{
    height: calc(100vh - 100px);
    background-image: url("../../images/background/desktop/layered-peaks-haikei.svg");
    background-size:cover;
    .container{
        position: relative;
        height: 100%;
        .intro{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            img{
                width: 200px;
                height: 200px;
                margin-left: 2rem;
            }
            h1{
                font-weight: bold;
                color: $metal-black;
            }
            h2{
                font-weight: bold;
                color: $danger-red;
            }
        }
    }
    @include media(all){
        background-image: url("../../images/background/mobile/layered-peaks-haikei.svg");
    }
}