.header{
    position: relative;
    box-shadow: 0 1px 5px var(--mate-black-color);
    z-index: 1;
    background-color: var(--mate-black-color);
    height: 70px;
    .container{
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}  
