@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainBlackColor);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.header {
  position: relative;
  z-index: 1;
  background-color: #353535;
  height: 100px;
}
.header .container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.header .container .logo img {
  width: 70px;
  margin-left: 1rem;
}
.header .container .logo h3 {
  font-size: 1.225rem;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 991px) {
  .header .container .logo h3 {
    display: none;
  }
}
.header .container .visitor-nav i {
  display: none;
  cursor: pointer;
  color: #9d9d9d;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .container .visitor-nav i:hover {
  color: #fff;
  background-color: #101010;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .container .visitor-nav .menu {
  display: flex;
}
.header .container .visitor-nav .menu a {
  padding: 10px 16px;
  color: #9d9d9d;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .container .visitor-nav .menu a:hover {
  color: #fff;
}
.header .container .visitor-nav .menu .login {
  border: 2px solid #9d9d9d;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .container .visitor-nav .menu .login:hover {
  background-color: #fff;
  border-color: #fff;
  color: #353535;
}
@media (max-width: 991px) {
  .header .container .visitor-nav i {
    display: block;
  }
  .header .container .visitor-nav .menu {
    display: none;
    width: 100%;
    border-top: 1px solid #e4e5e7;
    top: 100px;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: #353535;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
  }
  .header .container .visitor-nav .menu.click {
    display: block;
  }
  .header .container .visitor-nav .menu li {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .header .container .visitor-nav .menu li a {
    text-align: center;
    display: block;
    padding: 5px 10px;
  }
  .header .container .visitor-nav .menu li a:hover {
    color: #fff;
    background-color: #101010;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .header .container .visitor-nav .menu li .login {
    text-align: center;
    margin-top: 10px;
  }
}
.header .container .member-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.header .container .member-nav .avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .member-nav .avatar .member-avatar {
  width: 60px;
  height: 60px;
  border: 5px solid #e4e5e7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.header .container .member-nav .avatar i {
  color: #e4e5e7;
}
.header .container .member-nav .menu {
  display: none;
  position: absolute;
  top: 110px;
  left: 0;
  background-color: #353535;
  color: #e4e5e7;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 200px;
}
.header .container .member-nav .menu::after {
  content: "";
  position: absolute;
  top: -19px;
  left: 50px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #353535 transparent;
}
.header .container .member-nav .menu li:not(:first-child):hover {
  color: #fff;
  background-color: #101010;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .container .member-nav .menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 10px;
}
.header .container .member-nav .menu .logout {
  cursor: pointer;
}
.header .container .member-nav .menu span {
  margin-right: 5px;
}
.header .container .member-nav .menu hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.header .container .member-nav .menu.click {
  display: block;
}
@media (max-width: 991px) {
  .header .container .member-nav .menu {
    border-top: 1px solid #e4e5e7;
    top: 100px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
  }
  .header .container .member-nav .menu::after {
    border: none;
  }
}/*# sourceMappingURL=index.css.map */