.visitor-nav{
    .menu{
        padding: 0;
        display: flex;
        margin: 0;
        @media (max-width:991px){
            display: none;
            &.clicked{
                display: block;
                position: absolute;
                width: 100%;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                background-color: var(--mate-black-color);
                color: var(--light-gray-color);
                padding: 16px;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
                @media (max-width:580px) {
                    width: 80%;
                }
            }
        }
        li{
            &.media-query{
                display: none;
                @media (max-width:991px){
                    display: block;             
                }
            }
            @media (max-width:991px){
                margin-right: 0;
                margin-bottom: 5px;                
            }
            a{
                padding: 10px 16px;
                color: var(--white-color);
                font-size: 14px;
                font-weight: bold;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
                &:hover{
                    color: var(--light-black-color);
                    @media (max-width:991px){
                        color: var(--white-color);
                        background-color: var(--dark-black-color);
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }
                }
                @media (max-width:991px){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;                    
                        color: var(--white-color);
                        padding: 14px 16px;
                        font-weight: bold;
                        font-size: 14px;
                }
            }    
        }
    }
}
