@use "../SASS-TOOLS/Variables/colors" as *;
@use "../Logo/sass-style/Logo.scss" as *;
@use "./components/sass-style/visitor-nav.scss" as *;
@use "./components/sass-style/member-nav.scss" as *;
@use "./components/sass-style/login-nav.scss" as *;
@use "./components/sass-style/close-nav.scss" as *;
@use "./components/sass-style/back-nav.scss" as *;

.header{
    position: relative;
    z-index: 1;
    background-color: $metal-black;
    height: 100px;
    .container{
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include logo();
        @include visitor-nav();
        @include member-nav();
        @include login-nav();
        @include close-nav();
        @include back-nav()
    }
}
